{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Thread</h1>
    <div class ="formNewThread">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>


    <h1>Threads</h1>

    {% for thread in threads %}
        <div class="threadListItem">
            <a href="{{ path('thread_show', { 'id': thread.id }) }}"> <img src="{{ asset('uploads/images/' ~ thread.image) }}" width="200" height="200"/></a>
            {{thread.text}}
            <br />
            <br />
        </div>

        {#            <tr>
                        <td><a href="{{ path('thread_show', { 'id': thread.id }) }}">{{ thread.id }}</a></td>
                        <td>{{ thread.text }}</td>
                        <img src="{{ asset('uploads/images/' ~ thread.image) }}" />
                        <td>{% if thread.createdAt %}{{ thread.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if thread.updatedAt %}{{ thread.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('thread_show', { 'id': thread.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('thread_edit', { 'id': thread.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>#}
    {% endfor %}
{% endblock %}
