{% extends 'base.html.twig' %}

{% block javascripts %} <script src='https://www.google.com/recaptcha/api.js'></script> {% endblock %}

{% block body %}
    <br/>
    <ol class="breadcrumb">
        <li><a class="active" href="{{ path('thread_index', { 'board_name': 'b' }) }}">Threads</a></li>
    </ol>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Thread
    </button>
    <div class="collapse" id="collapseExample">
        <h2>New Thread</h2>
        <div class ="formNewThread">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="g-recaptcha" data-sitekey="6LfIiicTAAAAAMEwydeK9UzAQlMnMJ1fK4lZ_l5a"></div>
            <br/>
            <input type="submit" value="Create" class="btn btn-success" />
            {{ form_end(form) }}
        </div>
    </div>
    <br/>
    <br/>

    {% for thread in threads %}
        {{ include('thread/threadPanel.html.twig') }}
    {% endfor %}

    <h3>{{ knp_pagination_render(threads) }}</h3>

{% endblock %}
