{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thread</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ thread.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ thread.text }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if thread.createdAt %}{{ thread.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if thread.updatedAt %}{{ thread.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% for post in posts %}
        <b>{{post.text}}</b><br>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('thread_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('thread_edit', { 'id': thread.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
